[Unit]
Description=Ntfy Notification Server
Documentation=https://ntfy.sh/docs/
After=tailscale.service
Requires=tailscale.service

[Container]
Image=docker.io/binwiederhier/ntfy:latest@sha256:f8060a494b69d53866ef505c36a205efcce3204618d6e183a87128cca6e7cac9
ContainerName=ntfy
Network=container:tailscale
Volume=/var/lib/ntfy:/var/cache/ntfy:Z
Volume=/etc/ntfy:/etc/ntfy:Z,ro
Args=serve
Environment=NTFY_BASE_URL=https://ntfy.tailnet.ts.net
Environment=NTFY_AUTH_DEFAULT_ACCESS=read-write
Environment=NTFY_AUTH_FILE=/etc/ntfy/auth.yml
Environment=NTFY_CACHE_FILE=/var/cache/ntfy/cache.db
Environment=NTFY_ATTACHMENT_CACHE_DIR=/var/cache/ntfy/attachments
Environment=NTFY_ATTACHMENT_EXPIRY=72h
Environment=NTFY_ATTACHMENT_MAX_SIZE=50M
ExecStartPre=/usr/bin/mkdir -p /var/lib/ntfy /etc/ntfy
ExecStartPre=/usr/bin/chmod 700 /var/lib/ntfy
Restart=always
RestartSec=10

[Install]
WantedBy=default.target